# Dependencies
node_modules/

# Environment variables
.env

# macOS files
.DS_Store

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# Build folders
dist/
build/

# VS Code (optional)
.vscode/

# npm cache
.npm

# Temporary files
tmp/
temp/